.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  overflow: hidden;
}

.enter span {
  display: inline-block;
  transition: transform 500ms;
  padding-bottom: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--primary-glow);
  width: 1500px;
  height: 1500px;
  z-index: -1;
}

.center::after {
  background: var(--primary-glow);
  width: 1000px;
  height: 1000px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .enter:hover span {
    transform: translateX(10px);
  }
}