/* LottosPage */

.grid {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 190px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.card {
	background: var(--secondary-glow);
	border-radius: var(--border-radius);
	border: 1px solid rgba(1, 65, 255, 0.397);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 0.5rem 0;
	margin: 1rem;
	width: 300px;
	position: relative;
}

.activeTab,
.expiredTab,
.completeTab {
	background-color: rgb(var(--callout-rgb));
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	margin: -1px -1px -1px -1px;
	font-size: large;
}

.activeTab {
	color: rgb(1, 111, 11);
}

.expiredTab {
	color: rgb(111, 1, 1);
}

.completeTab {
	color: rgb(111, 111, 111);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.prize {
	font-size: xx-large;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.price {
	font-size: medium;
	font-weight: normal;
}

.price span,
.prize span {
	margin-left: 7px;
}


.expiry {
	font-size: medium;
	font-weight: normal;
	text-align: center;
	margin-top: 1.5rem;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.actions button {
	background-color: rgb(var(--callout-rgb));
	border: 1px solid rgb(var(--callout-border-rgb));
	border-radius: var(--border-radius);
	color: rgb(var(--foreground-rgb));
	cursor: pointer;
	font-weight: bold;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.2s ease;
}

.actions button:hover {
	background-color: rgb(var(--callout-border-rgb));
}

.winner {
	font-size: large;
	/* font-weight: bold; */
	margin-top: 1.5rem;
	text-align: center;
}

.winner a:hover {
	text-decoration: underline;
}

.spinner {
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-left-color: rgb(var(--foreground-rgb));
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.verticalLine {
	position: fixed;
	top: 0;
	right: 190px;
	height: 100%;
	border-left: 1px solid rgb(44, 44, 44);
}

/* ChainSelector */

.chainSelector {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
	width: 150px;
}

.chainSelector select {
	border-radius: var(--border-radius);
	padding: 0.3rem;
	border: 1px solid #888;
	font-size: 1.3rem;
	cursor: pointer;
	width: 100%;
	text-overflow: ellipsis;
}

.chainSelector a {
	text-decoration: underline;
}

/* LottoLogo */

.floatingLogo {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	cursor: pointer;
}

/* CreateDialog */

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalSolidBackground {
	position: absolute;
	background-color: black;
	border-radius: var(--border-radius);
	width: 350px;
	height: 250px;
	z-index: -1;
}

.modalContent {
	background: var(--secondary-glow);
	border-radius: var(--border-radius);
	padding-top: 25px;
	border: 1px solid rgb(var(--callout-border-rgb));
	width: 350px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formElement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 5px;
}

.formElement label {
	justify-content: left;
}

.formElement input {
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: right;
	width: 50%;
}

.checkboxContainer {
	display: flex;
	align-items: center;
}

.inputField {
	/* background: var(--input-background); */
	border: 1px solid rgb(var(--callout-border-rgb));
	border-radius: var(--border-radius);
	padding: 0.2rem;
	margin: 0.2rem;
	color: var(--text-color);
	font-size: 1rem;
	width: 100%;
}